.category-button {
  border: 1px solid transparent;
  border-radius: 2px;
  color: $white-two;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  line-height: 20px;
  outline: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    border-color: $gray;
    color: $gray;
  }

  &.view-all, &.view-more {
    background-color: $white;
    border-color: $chocolate-three;
    color: $chocolate;

    &:hover {
      background-color: $chocolate;
      border-color: transparent;
      color: $white;
    }
  }
}
