.popularity-label {
  border-radius: 11px;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0 8px 0 24px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;

  li span {
    position: relative;
    left: -4px;
  }
}
